.container {
  width: 100%;
  height: 100%;
  
}

.container> div {
  border-bottom: 1px solid #E5E5E5;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.container div:last-child {
  margin-bottom: 24px;
}